:root {
    /* fonts */
    --font-helvetica: Helvetica;

    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-lg: 18px;

    /* Colors */
    --color-white: #fff;
    --color-black: #000;
}
  