<div class="popup">
  <div class="popup__container" id="popup_container">
    <div class="popup__item">
      <h1 class="popup__title">Оформление заказа</h1>
      <h6>Ну то есть самая приятная часть - плати мне деняг</h6>
    </div>
    <div class="popup__item" id="popup_product_list">
      <!-- <div class="popup__product">
        TODO: карточка товара 
      </div> -->
    </div>
    <div class="popup__item">
      <div class="popup__cost">
        <h2 class="popup__cost-title">Итого</h2>
        <output class="popup__cost-value" id="popup_cost">0</output>&nbsp;рубликов
      </div>
    </div>
    <button type="submit">Оформить заказ</button>
    <button class="popup__close" id="popup_close"><span class="material-symbols-outlined">close</span></button>
  </div>
</div>
