<section class="section1">
  <div class="divider">
    {% for category in categories %}
    <a href="#{{ category.name }}" class="button2">
      <div class="inner"></div>
      <div class="div4">{{ category.name }}</div>
    </a>
    {% endfor %}
    <div class="divider"></div>
    <div class="spacer"></div>
    <a style="text-decoration: none; color: black;" href="{% url 'cart:cart_view' %}" class="cart" id="cart">
      
      <div class="cart_content">
        <p>Корзина</p>&nbsp;<div id="counter">0</div>
      </div>
    </a>
</section>