<div id="productOptions" class="hide">
  <button id="productOptions_close">close</button>
  <form id="pizzaForm">
    <h3>Размеры</h3>
    <input type="radio" name="size" value="small"> Маленькая<br>
    <input type="radio" name="size" value="medium"> Средняя<br>
    <input type="radio" name="size" value="large"> Большая<br>
    <h3>Добавки</h3>
    <input type="checkbox" name="topping" value="cheese"> Дополнительный сыр<br>
    <input type="checkbox" name="topping" value="pepperoni"> Пепперони<br>
    <input type="checkbox" name="topping" value="mushrooms"> Грибы<br>
    <button type="submit">Отправить</button>
  </form>
</div>
<div id="output"></div>



<div id="log"></div>