<!-- <div class="block specialoffers" style=" background-color: #ff0000">
    <img src="images/pizza1.jpeg" alt="pizza">
    <span>Скидка 10% по студенческому билету на пиццу Пепперони</span>
    <button data-cart type="button" class="btn btn-block btn-outline-warning"> заказать </button>
</div> -->
<!-- TODO: доделать Ире -->
{% load static %} {% block css %}
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        crossorigin="anonymous"
        xmlns:1="http://www.w3.org/1999/xhtml" xmlns:1="http://www.w3.org/1999/xhtml"/>
{% endblock %}

<div
  id="carouselExampleCaptions"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    {% for cnt in count_offers %}
    <!-- <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="{{cnt}}"
      {% if cnt == 0 %}
      class="active"
      aria-current="true"
      {% endif %}

      aria-label="Slide {{cnt|add:"1:"}}"
    </button> -->
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for offer in special_offers %}
    <div class="carousel-item active">
      <div class="block block-special-offers" style="background-color: #ff0000">
        <span>Скидка 10% по студенческому билету на пиццу Пепперони!</span>
        <button data-cart type="button" class="btn btn-block btn-outline-warning">Заказать</button>
      </div>
      <!-- <div class="block specialoffers" style="background-color: #ff0000">
        {% if product.image %}
        <img src="{{ offer.image.url }}" alt="{{ offer.product.name }}" />
        {% else %}
        <img src="https://placehold.co/600x400@2x.png" class="icon1" />
        {% endif %}

        <div class="carousel-caption d-none d-md-block">
          <span>{{ offer.description|truncatechars:200 }}</span>
          <button
            data-cart
            type="button"
            class="btn btn-block btn-outline-warning"
            onclick="addToCartp({{ offer.product.id }})"
          >
            заказать
          </button>
        </div>
      </div> -->

      <!-- <img
        src="{%static 'img/Logo-pizza.png' %}"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div> -->
    </div>
    {% endfor %}
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% block js_footer %}
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
{% endblock %}
