<div class="notificationContainer">
    <div class="paid alert alert-info alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Заказ оплачен</h4>
        <p>Спасибо за оплату. Наши повара уже взялись за работу.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="created alert alert-success alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Заказ создан</h4>
        <p>Ваш заказ успешно создан.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="onWay alert alert-warning alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Заказ в пути</h4>
        <p>Курьер уже спешит к Вам.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="waiting alert alert-secondary alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Заказ ожидает</h4>
        <p>Че-то ожидает. Не пон, для чего этот статус</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="delivered alert alert-primary alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Заказ получен</h4>
        <p>Заказ доставлен. Спасибо за покупку!</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<style>
    .created {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.paid {
    background-color: #cce5ff;
    border-color: #b8daff;
}

.onWay {
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.waiting {
    background-color: #f8f9fa;
    border-color: #fdfd96;
}

.delivered {
    background-color: #a3bffa;
    border-color: #9f7aea;
}

   .notificationContainer{
        display: flex;
        z-index: 1;
        position: fixed;
        justify-content: flex-end;
        right: 5px;

    }
   .alert{
        width: auto;
       animation: ani 2.5s forwards;
       display: none;

    }
    @keyframes ani {
      0% {transform: translateX(100%);}
      100% {transform: translateX(-5px);}
    }
</style>



<!--
    STATUSES = (
        (CREATED, 'Создан'),
        (PAID, 'Оплачен'),
        (ON_WAY, 'В пути'),
        (WAITING, 'Ожидает'),
        (DELIVERED, 'Получен'),
    )
-->