{% load orders_tags %}

{% get_notifications user as notifications%}
{% for notification in notifications %}
<div class="notificationContainer">
    <div id="orderStatusAlert" class="created alert alert-info alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Статус заказа обновлён.</h4>
        <p>{{notification}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
<style>
    .created {
    background-color: #d4edda;
    border-color: #c3e6cb;
}
   .notificationContainer{
        display: flex;
        z-index: 1;
        position: fixed;
        justify-content: flex-end;
        right: 5px;

    }
   .alert{
        width: auto;
       animation: ani 2.5s forwards;
       {#display: none;#}

    }
    @keyframes ani {
      0% {transform: translateX(100%);}
      100% {transform: translateX(-5px);}
    }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const alertElement = document.getElementById('orderStatusAlert');

    function onAlertClosed() {
        if (alertElement) {
            alertElement.remove();
        }
    }

    alertElement.addEventListener('hidden.bs.alert', onAlertClosed);
});
</script>
