  {% extends 'base.html' %}
  {% load static %}

 
    {% block content %}

    <form style="height:52vh"; action="{% url "user:login" %}" method="post">
      {% csrf_token %}
      {{form}}

      <button type="submit" class="btn btn-dark btn-block">Войти</button>
      <button id="lost_PassBtn" type="submit" class="btn btn-dark btn-block">Забыли пароль?</button>
      <br>
      <button id="regBtn" type="button" class="btn btn-dark btn-block">Нужен аккаунт? Зарегистрируйся!</button>
    </form>
    
  </main>
  


  <script>

    const regBtn = document.querySelector("#regBtn");

    regBtn.addEventListener("click", (e) => {
      e.preventDefault();
      setTimeout(() => {
        window.location.href = "/user/registration";
      }, 500);
    });
  </script>

<script>

  const lost_PassBtn = document.querySelector("#lost_PassBtn");

    lost_PassBtn.addEventListener("click", (e) => {
    e.preventDefault();
    setTimeout(() => {
      window.location.href = "/user/lost_pass";
    }, 500);
  });
</script>

{% endblock %}
