{% load static %}
<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="UTF-8" />
  <title>Skibidi Pizza | {% block head_title %}{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link href="{% static 'styles/style.css' %}" rel="stylesheet" />
  {#Тут подрубается класс a class="a-about" и все, больше ничего#}
  <link rel="stylesheet" href="{% static 'styles/styles_for_about_page/index.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {% block css %}
  {% endblock %}

  {% block js_head %}
  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  {% block css_additionl %} {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">

  <div class="modal fade" id="easterEgg" tabindex="-1" role="dialog" aria-labelledby="easterEggLabel"
  aria-hidden="true">
  <script>var s="=ejw!dmbtt>#npebm.ejbmph#!spmf>#epdvnfou#?!!!!=ejw!je>#beefe#!dmbtt>#npebm.dpoufou#?!!!!!!=ejw!dmbtt>#npebm.ifbefs#?!!!!!!!!=i6!dmbtt>#npebm.ujumf#!je>#fbtufsFhhMbcfm#?Zbz\"=0i6?!!!!!!!!=cvuupo!dmbtt>#cuo.dmptf!fbtufsFhh`dmptfCuo#!uzqf>#cvuupo#!dmbtt>#dmptf#!ebub.ejtnjtt>#npebm#!!!!!!!!!!bsjb.mbcfm>#Dmptf#?=0cvuupo?!!!!!!=0ejw?!!!!!!=ejw!dmbtt>#npebm.cpez#!je>#fbtufsFhhCpez#?!!!!!!!!=jgsbnf!gsbnfcpsefs>#1#!tuzmf>#cpsefs;opof<xjeui;211&<ifjhiu;561qy<#!xjeui>#211&#!ifjhiu>#561#!tsd>#iuuqt;00nvtjd/zboefy/sv0jgsbnf0qmbzmjtu0Njiuspq311604#?ѢѼ҄҉ѱѺ҃Ѷ!=b!isfg>(iuuqt;00nvtjd/zboefy/sv0vtfst0Njiuspq31160qmbzmjtut04(?=0jgsbnf?!!!!!!=0ejw?!!!!=0ejw?!!=0ejw?";var m="";for(var i=0;i<s.length;i++)m+=String.fromCharCode(s.charCodeAt(i)-1);document.write(m);</script><noscript>You must enable JavaScript to see this text.</noscript>
</div>

<script>
  document.querySelector('.easterEgg_closeBtn').addEventListener('click', function () {
    $('#easterEgg').modal('hide');
  });

  const text = document.createElement("p");
    const modal_body = document.querySelector(".modal-body");
    text.innerHTML = '\u0417\u0434\u0435\u0441\u044c\u0020\u043c\u043e\u0436\u043d\u043e\u0020\u0432\u0441\u0451\u0020\u002d\u0020\u0434\u0430\u0436\u0435\u0020\u0441\u043b\u0443\u0448\u0430\u0442\u044c\u0020\u043c\u0443\u0437\u044b\u043a\u0443\u0021'; 

    modal_body.appendChild(text);
</script>

  <header class="mb-auto header">
    <div class="list-item" id="title">

      {#Добавил ссылку на главную /#}
      <a class="a-about" href="/"><img class="icon" alt="Pizza logo" src="{% static 'img/Logo-pizza.png' %}" /></a>
      {#Добавил ссылку на главную /#}
      <a class="a-about" href="/">
        <div class="skibidi-pizza">Skibidi Pizza</div>
      </a>

    </div>
    <nav class="button">
      <h3 class="h3">г. Москва</h3>

      {#Добавил ссылку на страницу /about#}
      <a class="a-about" href="{% url 'main:about' %}">
        <h3 class="h31">О нас</h3>
      </a>
    </nav>

    <nav class="button">

      {#Добавил ссылку на страницу /contacts#}
      <a class="a-about" href="{% url 'main:contacts' %}">
        <h3 class="h31">Контакты</h3>
      </a>

    </nav>
    <div class="wrapper">
      {% if request.user.is_authenticated %}
      <button id="logoutBtn" class="button1">
        <div class="child"></div>
        <a href="/user/logout">
          <div class="div1">Выйти</div>
        </a>
      </button>
    </div>
    {% else %}
    <button id="loginBtn" class="button1">
      <div class="child"></div>
      <a href="/user/login">
        <div class="div1">Войти</div>
      </a>
    </button>
    </div>
    {% endif %}
    </button>
    </div>
  </header>

  {% block content %}
  {# сюда вставиться то, что будет в таком же блоке, но другом .html #}
  {% endblock %}

  <footer class="mt-auto navbar-fixed-bottom footer">
    <div class="faq-container">
      <p class="faq">FAQ</p>
      <a class="a-about" href="{% url 'main:about' %}"><p class="p18">О нас</p></a>
      <p class="p19">Адрес: город Москва, Дубосековская улица, 4Ас1</p>
      <p id="easterEggStarter" ondblclick="$('#easterEgg').modal('show');" class="p20">© Все изображения без АП</p>
    </div>
    <div class="skibidi-pizzaramblerru">
      <a class="a-base" href="tel:+79993337711"><p class="p21">Номер: +7 (999) 333-77-11</p></a>
      <a class="a-base" href="mailto:skibidi-pizza@rambler.ru"><p class="skibidi-pizzaramblerru1">Почта: skibidi-pizza@rambler.ru</p></a>
    </div>
    <div class="div61">
      <p class="p22">Наши преимущества:</p>
      <p class="p23">✦ Прямо из печи</p>
      <p class="p24">✦ Натуральное тесто</p>
      <p class="p25">✦ Бесплатная доставка</p>
    </div>
  </footer>

  {% block js_footer %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>
</body>

</html>