{% load static %}
<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="UTF-8" />
  <title>qwertyu</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link href="{% static 'styles/style.css' %}" rel="stylesheet" />
  {% block css %}
  {% endblock %}
  {% block js_head %}
  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>
  <!-- <div class="block header">
    <div class="header__content">
      <div class="header__logo">
        <div class="header__logo-img"><img class="header__logo-img" src="{%static 'img/Logo-pizza.png' %}"
            alt="Logo-pizza"></div>

      </div>
      <div class="header__logo-title">
        <strong>Skibidi Pizza</strong>
      </div>
      <div class="header__phone">
        <div class="header__phone-img"></div>
        <div class="header__phone-title">
          <strong>88005553535</strong>
        </div>
      </div>
      <div class="header__address">
        <div class="header__address-img"></div>
        <div class="header__address-title">
          <strong>МОСКВА</strong>
        </div>
      </div>
      <div class="header__account">
        <div class="header__account-img"></div>
        <div class="header__account-title">
          <a href="/login"><strong>ВОЙТИ</strong></a>
        </div>
      </div>
    </div>
  </div> -->
  <header class="header">
    <div class="list-item" id="title">
      <img class="icon" alt="Pizza logo" src="{%static 'img/Logo-pizza.png' %}" />

      <div class="skibidi-pizza">Skibidi Pizza</div>
    </div>
    <nav class="button">
      <h3 class="h3">г. Москва</h3>
      <h3 class="h31">О нас</h3>
      <h3 class="h32">Контакты</h3>
    </nav>
    <div class="wrapper">

        {% if request.user.is_authenticated %}
        <button id="logoutBtn" class="button1">
          <div class="child"></div>
          <a href="/user/logout"><div class="div1">Выйти</div></a>
          </button>
          </div>
        {% else %}
        <button id="loginBtn" class="button1">
          <div class="child"></div>
          <a href="/user/login"><div class="div1">Войти</div></a>
          </button>
          </div>        
        {% endif %}
      </button>
    </div>
  </header>

  {% block content %}
  {# сюда вставиться то, что будет в таком же блоке, но другом .html #}
  {% endblock %}

  <div class="block footer">footer</div>
  
  {% block js_footer %}
  {% endblock %}
</body>

</html>