{% extends 'main/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
  <body class="root">
    {# TODO: починить шрифт Italiano в header #}
    {# HEADER(шапка) #}
    {% block header %}

    {% endblock %}

    {% block content %}
      <div class="block content-specialOffers">СКИДЫЩКИ</div>
      {# TODO: убрать "декор" у блоков a #}
      {# nav bar для меню(мини-шапка) #}
      {% include 'main/components/menu_navbar.html' %}

      {# TODO: изменить? #}
      {# КОРЗИНА #}
      {% include 'main/components/cart.html' %}

      {# TODO: починить скроллинг (не видно названий категорий в меню) #}
      {# МЕНЮ #}
      <div class="block menu">
        <article id="water" class="menu__section menu__section_water">
          <div class="menu__section-content">
            <h5>Water</h5>
            <div class="menu__section-content-cards">
              <div class="card menu__section-content-card">
                <div class="menu__section-content-card-content">
                  <div class="menu__section-content-card-content-img">pic</div>
                  <div class="menu__section-content-card-content-title">PIZZA</div>
                  <div class="menu__section-content-card-content-description">Blablablablalbablb</div>
                  <div class="menu__section-content-card-content-cost">1000</div>
                  <div class="menu__section-content-card-content-addBtn">
                    <button onclick="alert('Added to cart')"><span class="material-symbols-outlined">add</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
        <div id="pizza" class="menu__section menu__section_pizza">
          <h5>Pizza</h5>
          <div class="menu__section-content">
            <div class="menu__section-content-cards">
              {# TODO: цикл карточек; данные подтягиваются с бэка #}
              {% for product in products %}
                <div class="card menu__section-content-card">
                  <div class="menu__section-content-card-content">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="menu__section-content-card-content-img" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static "" %}" class="menu__section-content-card-content-img" alt="Not found image">
                    {% endif %}
                    <div class="menu__section-content-card-content-img">pic</div>
                    <div class="menu__section-content-card-content-title">{{ product.name }}</div>
                    <div class="menu__section-content-card-content-description">{{ product.description|truncatechars:35 }}</div>
                    <div class="menu__section-content-card-content-cost">{{ product.sell_price }}</div>
                    <div class="menu__section-content-card-content-addBtn">
                      <button onclick="alert('Added to cart')"><span class="material-symbols-outlined">add</span></button>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div id="sushi" class="menu__section menu__section_sushi">
          <h5>Sushi</h5>
          <div class="menu__section-content">
            <div class="menu__section-content-cards">
              <div class="card menu__section-content-card">
                <div class="menu__section-content-card-content">
                  <div class="menu__section-content-card-content-img">pic</div>
                  <div class="menu__section-content-card-content-title">PIZZA</div>
                  <div class="menu__section-content-card-content-description">Blablablablalbablb</div>
                  <div class="menu__section-content-card-content-cost">1000</div>
                  <div class="menu__section-content-card-content-addBtn">
                    <button onclick="alert('Added to cart')"><span class="material-symbols-outlined">add</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    {% block footer %}

    {% endblock %}
  </body>
</html>
