/* TODO: РАЗБИТЬ СТИЛИ ПО КОМПОНЕНТАМ И СТРАНИЦАМ */
@import url('./themes.css');

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
        url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
/* TODO: перевести размеры на em */

html {
    /* height: 100%; */
    /* плавный скролл */
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica Neue', serif;
    font-size: larger;
    margin: 0;
    position: relative;
}

.block {
    /* TODO: убрать border на ПрОдЕ */
    border: 2px dashed var(--dev-border-color);
    ;
    height: 20%;
}

.header {
    display: block;
    height: 20%;
    background: url("https://placehold.co/1980x500.png") no-repeat center center;
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header__content {
    position: sticky;
    height: 100%;
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    vertical-align: middle;
    font-size: 12pt;
}

.header__logo-title {
    border: 5px dashed blue;
    border-radius: 10px;
    font-size: 25px;
}

.minibar {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 5%;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.cart {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #364364;
    transition: 0.1s;
    cursor: pointer;
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.cart:hover {
    transform: scale(1.1);
}

.cart__num {
    position: absolute;
    background-color: #d62240;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
}

.cart_content {
    font-size: medium;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.33);
    /* Небольшое затемнение на фоне */
    z-index: 1000;
    /* Поверх всех окон */
    width: 100%;
    height: 100%;
    display: none;
    /* По умолчанию скрываем окно */
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow-y: scroll;
}

/* Стилизация контейнера окна */
.popup__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Распределяем элементы внутри равномерно */
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
}

/* Элементы окна (заголовок, список товаров, вывод стоимости) */
.popup__item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.popup__item:last-of-type {
    border-bottom: none;
}

.popup__title {
    font-size: 20px;
}

/* Стили для вывода товара */
.popup__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popup__product-wrap {
    display: flex;
    align-items: center;
}

.popup__product-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
}

.popup__product-title {
    max-width: 300px;
    font-weight: 500;
}

.popup__product-price {
    font-size: 18px;
    margin-right: 15px;
}

/* Стили для кнопки удаления товара */
.popup__product-delete {
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    color: #d62240;
}

/* Стили для вывода стоимости товаров */
.popup__cost {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.popup__cost-title {
    margin-right: 15px;
    font-size: 20px;
    color: #364364;
    text-align: right;
}

.popup__cost-value {
    font-size: 20px;
}

/* Стили для кнопки закрытия окна */
.popup__close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 20px;
    color: rgba(54, 67, 100, 0.7);
    font-size: 20px;
}

.popup__close:hover {
    color: rgb(54, 67, 100);
}

.popup--open {
    display: flex;
}

.menu {
    height: auto;
}

.menu__section-content-cards {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu__section-content-card-content {
    height: 100%;
    display: flex;
    flex-flow: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    cursor: pointer;
}

.card {
    border: 2px dashed seagreen;
    border-radius: 25px;
}
